<body>
    <h1>
        Registro Mecanicos
    </h1>
    <div class="form group">
        <label for= "IDENTIDAD">IDENTIDAD
            <input id="txtid" type="Identidad" name= "Identidad" placeholder="Digite identidad aquí"type ="text" class="forms-control">
    </label>
    </div>
    <div class="form group">
        <label for= "NOMBRES">NOMBRES
            <input id="txtNombre" type="Nombre" name= "Nombre" placeholder="Digite nombre aquí"type ="text" class="forms-control">
    </label>
    </div>
    <div class="form group">
        <label for= "APELLIDOS">APELLIDOS
            <input id="txtApellidos" type="Apellidos" name= "Apellidos" placeholder="Digite Apellidos aquí"type ="text" class="forms-control">
    </label>
    </div>
    <div class="form group">
        <label for= "FECHA DE NACIMIENTO">FECHA DE NACIMIENTO
            <input id="txtFECHA"  type="FECHA DE NACIMIENTO" name= "FECHA DE NACIMIENTO" placeholder="Digite fecha de nacimiento aquí"type ="text" class="forms-control">
    </label>
    </div>
    <div class="form group">
        <label for= "DIRECCION">DIRECCION
            <input id="txtDireccion" type="Direccion" name= "Direccion" placeholder="Digite Direccion aquí"type ="text" class="forms-control">
    </label>
    </div>
    <div class="form group">
        <label for= "ESPECIALIDAD">ESPECIALIDAD
            <input id="txtEspecialidad" type="Especialidad" name= "Especialidad" placeholder="Digite Especialidad aquí"type ="text" class="forms-control">
    </label>
    </div>
</body>
