<body>
    <h1>
        REGISTRO VEHICULOS
    </h1>
    <div class="form group">
        <label for= "MARCA">MARCA
            <input type="Marca" name= "Marca" placeholder="Digite Marca aquí"type ="text" class="forms-control">
    </label>
    </div>
    <div class="form group">
        <label for= "MODELO">MODELO
            <input type="Modelo" name= "Modelo" placeholder="Digite Modelo aquí"type ="text" class="forms-control">
    </label>
    </div>
    <div class="form group">
        <label for= "AÑO">AÑO
            <input type="Año" name= "Año" placeholder="Digite Año aquí"type ="text" class="forms-control">
    </label>
    </div>
    <div class="form group">
        <label for= "CILINDRAJE">CILINDRAJE
            <input type="Cilindraje" name= "Cilindraje" placeholder="Digite Cilindraje aquí"type ="text" class="forms-control">
    </label>
    </div>
</body>
